@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300;1,400;1,600&display=swap');



.form header h1 {
    font-size: var(--title);
    font-weight: var(--title-weight);
    color: var(--dark-black);
    font-family: var(--font-family);
}

.form header p {
    color: var(--dark-gray);
    font-size: var(--text-1);
    font-family: var(--font-family);
}

.form--label {
    font-size: var(--text-1);
    color: var(--dark-black);
    font-weight: var(--title-weight);
    font-family: var(--font-family);
}


.form--footer p {
    color: var(--dark-gray);
    font-size: var(--text-1);
    font-family: var(--font-family);
}


.modal--content h3{
    font-size: var(--title);
    font-weight: var(--title-weight);
    color: var(--dark-black);
}

.modal--content p{
    color: var(--dark-gray);
    font-size: .90rem;
}